@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-homeBg {
    background-image: url('/bg.jpg');
}

.image-blob {
    border-radius: 54% 46% 40% 60% / 52% 43% 57% 48%;
    animation: bloby-animation 10s infinite alternate;
}

.image-blob>img {
    scale: 1.5;
}

@keyframes bloby-animation {
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    90% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
}


.after-effect {
    position: relative;
}

.after-effect>span {

    position: absolute;
    top: 0;
    right: 0;
    height: 0.125rem;
    width: 5rem;
    border-radius: 0.375rem;
    background-image: linear-gradient(to right, #fa5252, #dd2476);

}